:root {
  --color-bg: #111111;

  --color-bg-f5: #202020;
  --color-bg-c3: #c3c3c3;
  --color-accent: #fcd37a;
  --color-accent-hover: #feda8b;
  --color-font-primay: #fff;
  --color-font-secondary: #dbdbdb;

  --color-button-bg: #c3c3c3;
  --color-button-bg-hover: #b5b5b5;

  --border-radius-default: 10px;
}
