@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* Font family */
  --font-family-base: "Inter", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "IBM Plex Mono", monospace;
  --font-family-heading: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  --font-family-nav: "Inter", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;

  --header-width: 800px;
  --main-width: 800px;

  --color-bg: #fff;

  --color-bg-f5: #f5f5f5;
  --color-bg-c3: #c3c3c3;
  --color-accent: #0066cc;
  --color-accent-hover: #024588;
  --color-font-primay: #111111;
  --color-font-secondary: #575757;

  --color-button-bg: #c3c3c3;
  --color-button-bg-hover: #b5b5b5;

  --border-radius-default: 10px;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-font-primay);
  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
  background-color: var(--color-bg);
}

/* common and utils*/

.dark-mode {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: 40px;
}

h1.page-title {
  font-size: 42px;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: var(--main-width);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.home-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header {
  margin-bottom: 50px;
}

.section-title {
  font-family: var(--font-family-heading);
  font-size: 1.5em;
}

.button {
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius-default);
}

.button:hover {
  border-color: var(--color-accent);
}

/* footer */

.site-footer-wrapper {
  /* background-color: var(--color-bg-f5); */
  border-top: 1px dotted var(--color-bg-f5);
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.footer-nav .footer-link {
  text-decoration: none;
  color: var(--color-font-secondary);
}

.footer-creds {
  text-align: center;
  padding-bottom: 20px;
}

/* header */

.site-header-wrapper {
  background-color: var(--color-bg-f5);
  border-bottom: 1px solid var(--color-bg-c3);
}

.site-header {
  max-width: var(--header-width);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;

  font-family: var(--font-family-nav);
}

.site-header a {
  text-decoration: none;
  color: var(--color-font-primay);
}

.site-header a:visited {
  color: var(--color-font-primay);
}

.logo {
  font-size: 1.1em;
  font-weight: 600;
}

.nav-link {
  padding: 10px;
  border-radius: var(--border-radius-default);
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  gap: 10px;
}

/* hero/intro section */

.hero {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

.bio > * {
  margin: 20px 0px;
}

.bio .bio-title {
  font-weight: 900;
}

.bio .bio-description {
  font-size: 1.2em;
}

.hero img {
  border-radius: 100px;
  max-width: 200px;
  object-fit: contain;
}

/* notes section */

.notes-section {
  padding: 50px 0px;
}

.note {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-bg-f5);
  margin-bottom: 10px;
}

.note .note-date {
  flex-shrink: 0;
  color: var(--color-font-secondary);
}

.note .note-title a {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: none;
}

.note .note-title a:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

/* projects section */

.projects-section {
  padding: 50px 0px;
}

.page-projects .projects-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.projects-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.project {
  padding: 30px 20px;
  background-color: var(--color-bg-f5);
  border-radius: var(--border-radius-default);
  /* this mins fix overflow caused by gaps*/
  min-width: 0;
  min-height: 0;
}

.project a {
  color: var(--color-font-primay);
  text-decoration: none;
}

.project a:visited {
  color: var(--color-font-primay);
}

.project .project-date {
  font: 0.6em;
  color: var(--color-font-secondary);
}

.project .project-title {
  font-family: var(--font-family-heading);
}

.project .project-title a {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: none;
}

.project .project-title a:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

.project .project-short {
  color: var(--color-font-secondary);
}

.project .project-links {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

.project .project-links .button {
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid var(--color-button-bg);
  border-radius: var(--border-radius-default);
}

.project .project-links .button:hover {
  border-color: var(--color-accent);
}

/* tags section */

.tags-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.tags {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  color: var(--color-font-primay);
  text-decoration: none;
  padding: 10px;
  background-color: var(--color-bg-f5);
  border: 1px solid var(--color-bg-c3);
  border-radius: var(--border-radius-default);
}

.tag .hashtag {
  font-weight: 200;
}

/* single-note template */

.single-note .page-title {
  line-height: 1.1em;
}

.single-note .section-header {
  padding-top: 100px;
  margin: 0px;
}

.single-note .single-note-meta-box {
  padding: 20px;
  background-color: var(--color-bg-f5);
  border: 1px solid;
  border-radius: var(--border-radius-default);
  border-color: var(--color-bg-c3);
}

/* for design purpose only */
.scroll {
  /* min-height: 2000px; */
}
