{% load static %}

<footer class="s-footer">
  <!-- end footer__top -->

  <div class="row s-footer__bottom row-x-center">
    <div class="large-8 tab-full column s-footer__info">
      <h3 class="h6">About {{global.websiteTitle}}</h3>

      <p>{{global.aboutFooter}}</p>
    </div>

    <div class="ss-copyright row row-x-center">
      <span
        ><a href="https://github.com/zft9xgy/django-simple-blog"
          >Django simple blog on Github</a
        ></span
      >
      <span
        >Design by <a href="https://www.styleshout.com/">StyleShout</a></span
      >
      <span><a href="/demo/">Style demo page</a></span>
    </div>
  </div>
  <!-- end footer__bottom -->

  <div class="ss-go-top">
    <a class="smoothscroll" title="Back to Top" href="#top">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M12 0l8 9h-6v15h-4v-15h-6z" />
      </svg>
    </a>
  </div>
  <!-- end ss-go-top -->
</footer>
<!-- end Footer-->
