{% extends 'base/base.html' %} {% load static %}

<!-- -->
{% block content %}
<!-- Content
    ================================================== -->
<div class="s-content">
  <div class="row row-x-center">
    <div id="main" class="s-content__main large-8 column">
      {% for post in posts %}
      <article class="entry">
        <header class="entry__header">
          <h2 class="entry__title h1">
            <a href="{% url 'single' post.slug %}" title="{{post.slug}}"
              >{{post.title}}</a
            >
          </h2>

          <div class="entry__meta">
            <ul>
              <li>{{post.created_date}}</li>
              {% for tag in post.tags.all %}
              <li>
                <a href="#" title="" rel="tag">{{tag.name}}</a>
              </li>
              {% endfor %}
              <li>{{post.author.username}}</li>
            </ul>
          </div>
        </header>

        <div class="entry__content">
          <p>{{post.content | slice:"200" | safe }}</p>
        </div>
      </article>
      {% endfor %}
      <!-- end entry -->
    </div>
    <!-- end main -->
    <!-- sidebar -->
    <!-- end sidebar -->
  </div>
  <!-- end row -->
</div>
<!-- end content-wrap -->
{% endblock %}
