{% extends 'base/base.html' %} {% load static %}

<!-- -->
{% block content %}
<div class="row row-y-center">
  <div class="column large-4 tab-full">
    <img
      src="{{profile.profile_image.url}}"
      alt="{{profile.username}}"
      style="width: 150px"
    />
    {% if request.user.profile.username == profile.username %}
    <a href="{% url 'user-edit-profile'%}">Editar perfil</a>
    {% endif %}
    <h1>{{profile.username|default:"--"}}</h1>
    <p>{{profile.email|default:"--"}}</p>
    <p>Creación del perfil: {{profile.created|default:"--"}}</p>
    <p>Role: {{profile.role|default:"--"}}</p>
    <p>
      Website:
      <a href="{{profile.social_website}}"
        >{{ profile.social_website|default:""}}</a
      >
    </p>
    <p>Bio:{{profile.bio|default:"--"}}</p>
  </div>
  <div class="column large-8 tab-full">
    <h2>Últimas entradas de este autor</h2>
    {% for post in profile.posts.all %}
    <div class="">
      <header class="entry__header">
        <h3 class="entry__title">
          <a href="{% url 'single' post.slug %}" title="{{post.slug}}"
            >{{post.title}}</a
          >
        </h3>

        <div class="entry__meta">
          <ul>
            <li>{{post.created_date}}</li>
            {% for tag in post.tags.all %}
            <li>
              <a href="#" title="" rel="tag">{{tag.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </header>
      <div class="entry__content">
        <p>{{post.content | slice:"200" | safe }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
